<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<script src="../app.js"></script>

<body>
    <header>
        <nav>
            <h4>
                EME
            </h4>
            <ul>
                <li><a href="">discover</a></li>
                <li><a href="">review</a></li>
                <li><a href="">more</a></li>
                <li><a href="">more</a></li>
                <li><a href="">register</a></li>
            </ul>
            <i class="bi bi-three-dots"></i>
        </nav>
        <div class="content">
            <div class="cont_box">
                <h1>the right desitination for you and your family</h1>
                <p>creative taglines have teh capability of capturing the attention of potential customer </p>
                <button>start you search</button>
            </div>
            <div class="trip_bx">
                <div class="search_bx">
                    <div class="card">
                        <h4>locatino<i class="bi bi-caret-down-fill"></i></h4>
                        <input type="text" placeholder="enter you destination">
                    </div>
                    <div class="card">
                        <h4>date <i class="bi bi-caret-down-fill"></i></h4>
                        <input type="date">
                    </div>
                    <div class="card">
                        <h4>people <i class="bi bi-caret-down-fill"></i></h4>
                        <input type="number" placeholder="how many people?">
                    </div>
                    <input type="button" value="Explore now">
                </div>
            </div>
        </div>
    </header>

   
</body>

</html>
